/* My font famile for the whole code */
body{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(205, 175, 136);
}
/* ---------------------------------------HEADER---------------------- */
/* Centers flexboxes */
.pictures, .name{
    text-align: center;
    color: rgb(255, 255, 255);
}

/* Sizes the border radius of my profile picture */
.pictures img{
    border: 2px solid rgb(248, 248, 248);
    border-radius: 50%;
}

/* Flexes my header to have a hero image and a profile section */
.flex{
    display: flex;
    
}

/* Adds a hero image that covers the whole screen of a hero section */
.flex-1{
    flex: 2;
    background-image: url(/src/media/heroImage.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    justify-content: center;
    
}

/* Makes the heading bigger */
.flex-1 h1{
    font-size: xx-large;
}

/* The profile section takes the smaller size than the hero section */
.flex-2{
    flex: 1;
}

/* An email link color will be white */
.flex-2 a{
    color: white
}

/* When hovering the email link it, the color changes to black */
.flex-2 a:hover{
    color: black;
}

/* This extends the space between for better user experience */
#info, #linking{
    padding-top: 20px;
}


/* --------------------------------------------NAVIGATION BAR------------------------------------------------- */

/* List-style of the navigation bar will be set to none */
.nav ul{
    margin:0;
    padding: 15PX;
    list-style: none;
}

/* Lists will be in an inline-block */
.nav li{
    display: inline-block;
    margin-right: 150px;
}

/* All decoration around links in the navigation bar will be set to none */
.nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
}

/* ---------------------------------------DROP-DOWN MENU INSIDE ACCOUNTS LIST---------------------------------- */

/* Firstly it will be invisible with the absolute positioning */
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}

/* Lists are in a block display */
.dropdown-content li{
    display: block;
}

/* The decoration is also none and in a block display */
.dropdown-content a{
    display:block;
    background-color: rgb(251, 251, 251);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
}

/* This code allows a user when hovering on a account bar to disply all the menu */
.dropdown:hover .dropdown-content{
    display: block;
}

/* The hovering focuses inside the drop-down menu only */
.dropdown:focus-within .dropdown-content{
    display: block;
}
/* ----------------------------------------------------------------------------------------------------------------------- */

/*------------------------------------------------------ ARTICLE---------------------------------------------------------- */

/* The font color for the artocle will be white */
.article{
    color:rgb(255, 255, 255)
}
/* Displays the icon images in three size grid and leaves spaces between */
.grid-line{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

/* The education class in an article displays the content in grid with three equal columns and four rows having a space between */
.article .education{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    column-gap: 1rem;
}

/* Creates borders */
.edu {
    border: 5px solid rgb(0, 0, 0);
   
}

/* Centers */
.article .grid-line, img, .icon{
    text-align: center;
}


/* -----------------------------------------PROFICIENCY----------------------------------------------- */

/* Displays the grid and the first column takes double of the total row */
.proficiency{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

/* The 1st child in pro class spans twice */
.proficiency .pro:nth-child(1){
    grid-column: span 2;
}

/* The 2nd child in pro class spans once */
.proficiency .pro:nth-child(2){
    grid-column: span 1;
}

/* The 3rd child in pro class spans once */
.proficiency .pro:nth-child(3){
    grid-column: span 1;
}

/* The 4th child in pro class spans twice */
.proficiency .pro:nth-child(4){
    grid-column: span 2;
}

/* Adds a border */
.skills, .languages, .softwares{
    border: 5px solid black;
   
}

/* all pro classes' padding are 10 pixels */
.pro{
    padding:10px
}

/* The id left margin is set to 85% */
.pro #align{
    margin-left: 85%;
}
/* -------------------------------color--------------------------- */
#color{
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 100px;
    text-align: center
}
/* -----------------------------------FOOTER----------------------------------------------- */

/* The background image will the same as hero image with white font */
.footer{
   
    color: white;
}

/* There will be no list styles */
.footer address ul li{
    list-style: none;
}

/* All color links will be white */
.footer address ul li a, .header .name a, #socials a{
    color: white;
}

/* The secon flex-box will flex the quick id container and the form  */
.flex1{
    display: flex;
    background-color:#40483a;
}

/* The quick id will take smaller space than the form container */
.quick-id{
    text-align: center;
}

/* The form takes the larger space in the footer section */
.form{
    text-align: center;
    border: 5px solid #40483a;
}

label{
    width: 240px;
    display: inline-block;
    text-align: right;
}

/* The contacts section has its own background color that is similar to the body*/
#contacts{
    text-align: center;
    flex: 1
}

/* The contacts links will be set to color white */
#contacts a{
    color: white
}

/* All hovering will be set to color black */
#contacts a:hover, .footer a:hover{
    color: black;
}

 /* ---------------------------------------- MEDIA QUERY ---------------------------------------------------- */

 /* FOR MOBILE */
@media screen and (max-width: 475px) {
    *{
        font-size:small
    }

    .nav li{
        display: inline;
        margin-right: 0;
    }

    .flex{
        display:contents
    }

    .flex-1{
        height: 200px;
    }

    #media{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 2px solid rgb(0, 0, 0);
    }

    .experience li{
        display: inline;
    }

    .proficiency{
        display: contents;
    }

    .pro img{
        display: none;
    }
    .flex1{
        display: contents;
    }
}

/* ---------------------FOR TABLET--------------- */

@media screen and (min-width: 476px) {
    *{
        font-size:medium
    }

    .flex{
        display:contents
    }

    .flex-1{
        height:360px;
    }

    #media{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 2px solid rgb(0, 0, 0);
    }

    .proficiency{
        display: contents;
    }

    .pro img{
        display: none;
    }
}

/* FOR LAPTOP */
@media screen and (min-width: 1024px) {
    *{
        font-size:large
    }

    .flex-1{
        height: 700px;
    }

    .flex{
        display: flex;
    }
    #media{
        display: contents;
        grid-template-columns: 1fr 1fr;
        border: 2px solid rgb(0, 0, 0);
    }


    .proficiency{
        display: grid;
    }

    .pro img{
        display: grid;
    }
}  